services:
  - type: web
    name: ram-biotek-frontend
    env: static
    buildCommand: npm run build:prod
    staticPublishPath: ./build
    routes:
      - type: rewrite
        source: /public/add-farmer/*
        destination: /index.html
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: REACT_APP_BASE_URL
        value: https://ram-biotek-backend.onrender.com
      - key: REACT_APP_APP_ENV
        value: prod
