services:
  - type: web
    name: ram-biotek-frontend
    env: static
    buildCommand: npm run build:prod
    staticPublishPath: ./build
    envVars:
      - key: REACT_APP_BASE_URL
        value: https://ram-biotek-backend.onrender.com
      - key: REACT_APP_APP_ENV
        value: prod
